body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 24px;
    padding: 0 20px 10px 18px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

nav ul li a:hover {
    color: #ccc;
}
/*
.login {
    display: flex;
}
.section {
    padding: 40px 0;
}

.section .content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container,
.register-container {
    flex: 0 0 calc(50% - 20px); /* Neem de helft van de beschikbare ruimte in, met wat ruimte ertussen *//*
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    margin-right:10%; /* Voeg rechtermarge toe aan de login-container *//*
}

.register-container {
    margin-left: 10%; /* Voeg linkermarge toe aan de register-container *//*
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    text-align: center;
}
*/
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    padding-top: 150px;
    padding-bottom: 200px;
    min-height: 100%;
    max-width: 80%;
    padding-left: 10%;
}

.login-container, .register-container {
    flex: 1; /* Neemt evenveel ruimte in beslag */
    padding: 20px;
    margin: 10px; /* Voeg wat ruimte tussen de containers toe */
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2, .register-container h2 {
    text-align: center;
}

/* Mediaquery voor schermen kleiner dan 768px */
@media screen and (max-width: 768px) {
    .container2 {
        flex-direction: column; /* Zet de richting van de flexcontainer om naar kolom */
        align-items: stretch; /* Rek de items uit om de volledige breedte in te nemen */
    }

    .login-container, .register-container {
        width: 100%; /* Neem de volledige breedte van de container in */
        margin: 10px 0; /* Voeg wat ruimte boven en onder de containers toe */
    }
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* Footerstijlen */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    bottom: 0;
    position: fixed;
    left:0;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-links,
.contact-info {
    flex-basis: 45%;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info p strong {
    color: #fff;
}
